<div class="row">
    <div class="col-lg-12">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="flashmsg" role="alert"
            style="padding-bottom: 0px; margin-top: 6px; margin-left: 15px;">
            <script>
                setTimeout(function () {
                    var msg = document.getElementById("flashmsg");
                    msg.parentNode.removeChild(msg);
                }, 3000)
            </script>
            <center>
                <strong>
                    <p>{{ message }}</p>
                </strong>
            </center>
        </div>
        {% endfor %}
    </div>
</div>